# Ignore Python cache files
__pycache__/

# Ignore virtual environment directories
venv/

# Ignore compiled Python files
*.pyc

# Ignore environment-specific files
.env

# Exclude VS Code settings and configurations
.vscode/
.mypy_cache/
.pytest_cache/
src/test.py
data/
dist/
build/
log_wizard.egg-info/